{
    "openapi": "3.1.0",
    "info": {
        "title": "APlus API Documentation",
        "version": "2.0.0",
        "description": "# APlus API Documentation\n\nWelcome to the APlus API. This API provides endpoints for:\n\n- **Authentication** - User registration, login, OTP verification\n- **Exams** - Browse exams, sections, subjects, and categories\n- **Questions** - Search and retrieve questions with answers\n- **Lessons** - Learning content and progress tracking\n- **Practice Exams** - Practice test sessions\n- **Payments** - Subscription and payment processing\n- **Leaderboard** - Student rankings and scores\n\n## API Versions\n\n- **v1** - Legacy API (deprecated)\n- **v2** - Current stable API (recommended)\n\n## Authentication\n\nMost endpoints require JWT authentication. Include the token in the Authorization header:\n\n```\nAuthorization: Bearer <your-token>\n```\n"
    },
    "servers": [
        {
            "url": "https:\/\/control.apls-edu.com\/api"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "\/v2\/auth\/username\/check": {
            "post": {
                "operationId": "v2.auth.username.check",
                "description": "\u062a\u062a\u062d\u0642\u0642 \u0647\u0630\u0647 \u0627\u0644\u0646\u0647\u0627\u064a\u0629 \u0627\u0644\u0637\u0631\u0641\u064a\u0629 \u0645\u0645\u0627 \u0625\u0630\u0627 \u0643\u0627\u0646 \u0627\u0633\u0645 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u0645\u0642\u062a\u0631\u062d \u0645\u062a\u0627\u062d\u064b\u0627 \u0644\u0644\u062a\u0633\u062c\u064a\u0644 \u0623\u0645 \u0644\u0627.\n\u064a\u0645\u0643\u0646 \u0644\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 (Endpoint) \u0644\u064a\u062a\u0645 \u0627\u0633\u062a\u062f\u0639\u0627\u0624\u0647 \u0628\u0634\u0643\u0644 \u062f\u064a\u0646\u0627\u0645\u064a\u0643\u064a \u0623\u062b\u0646\u0627\u0621 \u0643\u062a\u0627\u0628\u0629 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0644\u0627\u0633\u0645 \u0644\u062a\u0642\u062f\u064a\u0645 \u0645\u0644\u0627\u062d\u0638\u0627\u062a \u0641\u0648\u0631\u064a\u0629.",
                "summary": "Check Username Availability",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/CheckUsernameRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/register\/student": {
            "post": {
                "operationId": "v2.auth.register.student",
                "description": "\u064a\u0642\u0648\u0645 \u0628\u062a\u0633\u062c\u064a\u0644 \u062d\u0633\u0627\u0628 \u0637\u0627\u0644\u0628 \u062c\u062f\u064a\u062f \u0641\u064a \u0627\u0644\u0645\u0646\u0635\u0629. \n\u064a\u062c\u0628 \u0639\u0644\u0649 \u0627\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u062a\u0642\u062f\u064a\u0645 \u062c\u0645\u064a\u0639 \u0627\u0644\u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0625\u0644\u0632\u0627\u0645\u064a\u0629 \u0645\u062b\u0644 \u0627\u0644\u0627\u0633\u0645\u060c \u0648\u0627\u0633\u0645 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645\u060c \u0648\u0643\u0644\u0645\u0629 \u0627\u0644\u0645\u0631\u0648\u0631.\n\u0628\u0627\u0644\u0625\u0636\u0627\u0641\u0629 \u0625\u0644\u0649 \u0630\u0644\u0643\u060c \u064a\u062c\u0628 \u0631\u0628\u0637 \u0627\u0644\u0637\u0627\u0644\u0628 \u0628\u0627\u0645\u062a\u062d\u0627\u0646 \u0645\u0639\u064a\u0646 (`exam_id`).",
                "summary": "Register Student",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/RegisterStudentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/register\/parent": {
            "post": {
                "operationId": "v2.auth.register.parent",
                "description": "Registers a new parent user.",
                "summary": "Register Parent",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/RegisterParentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "integer"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "$ref": "#\/components\/schemas\/User"
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "user"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/login\/check": {
            "post": {
                "operationId": "v2.auth.login.check",
                "description": "\u064a\u062a\u062d\u0642\u0642 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0645\u0646 \u0648\u062c\u0648\u062f \u0627\u0633\u0645 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u0645\u0639\u0637\u0649 \u0648\u0645\u0627 \u0625\u0630\u0627 \u0643\u0627\u0646 \u0647\u0630\u0627 \u0627\u0644\u062d\u0633\u0627\u0628 \u064a\u0644\u0632\u0645\u0647 \u062a\u0641\u0639\u064a\u0644 \u0627\u0644\u0645\u0635\u0627\u062f\u0642\u0629 \u0627\u0644\u062b\u0646\u0627\u0626\u064a\u0629 (2FA) \u0642\u0628\u0644 \u0625\u062a\u0645\u0627\u0645 \u062a\u0633\u062c\u064a\u0644 \u0627\u0644\u062f\u062e\u0648\u0644.\n\u0645\u0641\u064a\u062f \u0644\u062a\u0642\u0633\u064a\u0645 \u0648\u0627\u062c\u0647\u0629 \u062a\u0633\u062c\u064a\u0644 \u0627\u0644\u062f\u062e\u0648\u0644 \u0625\u0644\u0649 \u062e\u0637\u0648\u0627\u062a \u0645\u0633\u062a\u0642\u0644\u0629.",
                "summary": "Pre-Login Check (\u0627\u0644\u062a\u062d\u0642\u0642 \u0642\u0628\u0644 \u062a\u0633\u062c\u064a\u0644 \u0627\u0644\u062f\u062e\u0648\u0644)",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/LoginCheckRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/login": {
            "post": {
                "operationId": "v2.auth.login",
                "description": "\u064a\u0635\u0627\u062f\u0642 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0628\u0627\u0633\u062a\u062e\u062f\u0627\u0645 (\u0627\u0633\u0645 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645) \u0648 (\u0643\u0644\u0645\u0629 \u0627\u0644\u0645\u0631\u0648\u0631).\n\u064a\u062d\u062a\u0648\u064a \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0623\u064a\u0636\u0627\u064b \u0639\u0644\u0649 \u0641\u062d\u0635 \u0644\u0644\u0623\u062c\u0647\u0632\u0629 \u0627\u0644\u0645\u0633\u062c\u0644\u0629 (Device Management)\u060c \u062d\u064a\u062b \u0633\u064a\u062a\u0645 \u0631\u0628\u0637 \u0627\u0644\u062c\u0647\u0627\u0632 \u0627\u0644\u062c\u062f\u064a\u062f \u0628\u062d\u0633\u0627\u0628 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645. \n\u0625\u0630\u0627 \u0627\u0643\u062a\u0634\u0641 \u0627\u0644\u0646\u0638\u0627\u0645 \u0623\u0646 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u064a\u0633\u062c\u0644 \u0645\u0646 \u062c\u0647\u0627\u0632 \u062b\u0627\u0646\u064d \u062a\u062c\u0627\u0648\u0632 \u0627\u0644\u062d\u062f \u0627\u0644\u0645\u0633\u0645\u0648\u062d \u0628\u0647\u060c \u0641\u0633\u064a\u062a\u0645 \u0625\u0631\u062c\u0627\u0639 \u062e\u0637\u0623 `403` \u0628\u0623\u0646 \u0627\u0644\u062c\u0647\u0627\u0632 \u0628\u0627\u0646\u062a\u0638\u0627\u0631 \u0645\u0648\u0627\u0641\u0642\u0629 \u0627\u0644\u0625\u062f\u0627\u0631\u0629 (Pending Approval).\n\n\u0625\u0630\u0627 \u0643\u0627\u0646 \u0627\u0644\u0646\u0638\u0627\u0645 \u064a\u062a\u0637\u0644\u0628 2FA\u060c \u0641\u0633\u064a\u0642\u0648\u0645 \u0627\u0644\u062d\u0642\u0644 `requires_2fa: true` \u0628\u0627\u0644\u0631\u062c\u0648\u0639 \u0628\u062f\u0648\u0646 \u0627\u0644\u0640 JWT token\u060c \u0644\u0628\u062f\u0621 \u0645\u0633\u0627\u0631 \u0627\u0644\u0640 OTP.",
                "summary": "Login Authentication (\u062a\u0633\u062c\u064a\u0644 \u0627\u0644\u062f\u062e\u0648\u0644)",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/otp\/send": {
            "post": {
                "operationId": "v2.auth.otp.send",
                "description": "\u064a\u0631\u0633\u0644 \u0631\u0645\u0632 \u062a\u062d\u0642\u0642 \u0645\u0643\u0648\u0646 \u0645\u0646 6 \u0623\u0631\u0642\u0627\u0645 (OTP) \u0625\u0644\u0649 \u0627\u0644\u0647\u0627\u062a\u0641 \u0623\u0648 \u0627\u0644\u0628\u0631\u064a\u062f \u0627\u0644\u0625\u0644\u0643\u062a\u0631\u0648\u0646\u064a.\n\u064a\u062a\u0645 \u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0644\u0625\u062a\u0645\u0627\u0645 \u0625\u062c\u0631\u0627\u0621\u0627\u062a \u0627\u0644\u0645\u0635\u0627\u062f\u0642\u0629 \u0627\u0644\u062b\u0646\u0627\u0626\u064a\u0629 (2FA) \u0623\u0648 \u0627\u0633\u062a\u0639\u0627\u062f\u0629 \u0643\u0644\u0645\u0629 \u0627\u0644\u0645\u0631\u0648\u0631 (Password Reset).\n\u064a\u062c\u0628 \u0639\u0644\u0649 \u0627\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u062d\u0641\u0638 \u0627\u0644\u0640 `token` \u0627\u0644\u0630\u064a \u0633\u064a\u062a\u0645 \u0625\u0631\u062c\u0627\u0639\u0647 \u0644\u0623\u0646\u0647 \u064a\u064f\u0633\u062a\u062e\u062f\u0645 \u0644\u0627\u062d\u0642\u0627\u064b \u0645\u0639 \u0645\u0633\u0627\u0631 `verifyOtp`.",
                "summary": "Send OTP Code (\u0625\u0631\u0633\u0627\u0644 \u0631\u0645\u0632 \u0627\u0644\u062a\u062d\u0642\u0642)",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/SendOtpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/otp\/verify": {
            "post": {
                "operationId": "v2.auth.otp.verify",
                "description": "\u064a\u062a\u0645 \u0625\u0631\u0633\u0627\u0644 \u0627\u0644\u0631\u0645\u0632 \u0627\u0644\u0645\u0631\u0633\u0644 \u0645\u0646 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 (`otp`) \u0645\u0639 \u0627\u0644\u0640 (`token`) \u0627\u0644\u0630\u064a \u062a\u0645 \u0625\u0631\u062c\u0627\u0639\u0647 \u0645\u0646 \u0645\u0633\u0627\u0631 \u0627\u0644\u0625\u0631\u0633\u0627\u0644 `sendOtp`.\n\u0625\u0630\u0627 \u0643\u0627\u0646 \u0627\u0644\u0633\u064a\u0627\u0642 \u0647\u0648 \u0627\u0633\u062a\u0631\u062c\u0627\u0639 \u0643\u0644\u0645\u0629 \u0645\u0631\u0648\u0631 `type=reset`\u060c \u0641\u0633\u064a\u0631\u062c\u0639 \u0627\u0644\u0645\u0633\u0627\u0631 \u0645\u0641\u062a\u0627\u062d\u0627\u064b \u0645\u0624\u0643\u062f\u0627\u064b \u0644\u0639\u0645\u0644\u064a\u0629 \u062a\u063a\u064a\u064a\u0631 \u0627\u0644\u0643\u0644\u0645\u0629 `verified=true`.\n\u0623\u0645\u0627 \u0625\u0630\u0627 \u0643\u0627\u0646 \u0633\u064a\u0627\u0642 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 `type=login`\u060c \u0641\u0633\u064a\u064f\u0631\u062c\u0639 \u0627\u0644\u0645\u0633\u0627\u0631 \u0645\u0628\u0627\u0634\u0631\u0629 \u0627\u0644\u0640 JWT \u0644\u062a\u0633\u062c\u064a\u0644 \u0627\u0644\u062f\u062e\u0648\u0644 \u0627\u0644\u0646\u0647\u0627\u0626\u064a.",
                "summary": "Verify OTP Code (\u0627\u0644\u062a\u062d\u0642\u0642 \u0645\u0646 \u0631\u0645\u0632 OTP)",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/VerifyOtpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/password\/reset": {
            "post": {
                "operationId": "v2.auth.password.reset",
                "description": "\u0627\u0644\u062e\u0637\u0648\u0629 \u0627\u0644\u0623\u0648\u0644\u0649 \u0644\u0627\u0633\u062a\u0631\u062c\u0627\u0639 \u0627\u0644\u0645\u0641\u0642\u0648\u062f\u060c \u064a\u0642\u0648\u0645 \u0627\u0644\u0646\u0638\u0627\u0645 \u0628\u0627\u0644\u0628\u062d\u062b \u0639\u0646 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0628\u0646\u0627\u0621\u064b \u0639\u0644\u0649 \u0627\u0644\u062d\u0642\u0644 \u0627\u0644\u0645\u062f\u062e\u0644 (user_name\u060c \u0623\u0648 email\u060c \u0623\u0648 phone)\n\u0648\u064a\u0631\u062c\u0639 \u0644\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u0623\u062c\u0632\u0627\u0621 \u0645\u062e\u0641\u064a\u0629 \u0645\u0646 \u0627\u0644\u0628\u0631\u064a\u062f \u0623\u0648 \u0627\u0644\u0647\u0627\u062a\u0641 (Masked) \u0644\u064a\u0642\u0648\u0645 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0628\u0627\u062e\u062a\u064a\u0627\u0631 \u0623\u064a \u0648\u0633\u064a\u0644\u0629 \u0627\u0633\u062a\u0642\u0628\u0627\u0644 \u0643\u0648\u062f \u0627\u0644\u0640 OTP \u064a\u0631\u063a\u0628 \u0628\u0647\u0627 \u0628\u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0645\u0633\u0627\u0631 \u0627\u0644\u0625\u0631\u0633\u0627\u0644 `sendOtp`.",
                "summary": "Reset Password Init (\u0628\u062f\u0621 \u0627\u0633\u062a\u0631\u062c\u0627\u0639 \u0643\u0644\u0645\u0629 \u0627\u0644\u0645\u0631\u0648\u0631)",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/ResetPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/password\/change": {
            "post": {
                "operationId": "v2.auth.password.change",
                "description": "\u064a\u062a\u064a\u062d \u0644\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0636\u0628\u0637 \u0643\u0644\u0645\u0629 \u0645\u0631\u0648\u0631 \u062c\u062f\u064a\u062f\u0629 \u0628\u0639\u062f \u0625\u062a\u0645\u0627\u0645\u0647 \u0644\u0639\u0645\u0644\u064a\u0629 \u0627\u0644\u062a\u062d\u0642\u0642 \u0648\u0625\u0631\u0633\u0627\u0644 \u0645\u0641\u062a\u0627\u062d \u0627\u0644\u0640 `token` \u0627\u0644\u0645\u0639\u0627\u062f\u0644 (Verified) \u0645\u0646 \u062e\u0637\u0648\u0629 `verifyOtp`.",
                "summary": "Change Password After OTP (\u062a\u063a\u064a\u064a\u0631 \u0643\u0644\u0645\u0629 \u0627\u0644\u0645\u0631\u0648\u0631 \u0627\u0644\u062c\u062f\u064a\u062f\u0629)",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/ChangePasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/auth\/me": {
            "get": {
                "operationId": "v2.auth.me",
                "description": "\u064a\u062c\u0644\u0628 \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u0645\u0633\u062c\u0644 \u062f\u062e\u0648\u0644\u0647 \u062d\u0627\u0644\u064a\u0627\u064b \u0628\u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0627\u0644\u0640 Token \u0627\u0644\u0645\u0631\u0633\u0644 \u0641\u064a \u05d4\u0640 Header.\n\u062a\u064f\u0631\u062c\u0639 \u0647\u0630\u0647 \u0627\u0644\u0646\u0647\u0627\u064a\u0629 \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u0623\u0633\u0627\u0633\u064a\u0629\u060c \u0628\u0627\u0644\u0625\u0636\u0627\u0641\u0629 \u0625\u0644\u0649 \u0633\u062c\u0644 \u0627\u0644\u0623\u062c\u0647\u0632\u0629 \u0627\u0644\u0645\u0631\u062a\u0628\u0637\u0629 \u0628\u062d\u0633\u0627\u0628\u0647 (`devices`).\n\u0625\u0630\u0627 \u0643\u0627\u0646 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0637\u0627\u0644\u0628\u0627\u064b\u060c \u0633\u064a\u062a\u0645 \u0623\u064a\u0636\u0627\u064b \u062a\u0636\u0645\u064a\u0646 \u0643\u0627\u0626\u0646 `student` \u0627\u0644\u0630\u064a \u064a\u0634\u0645\u0644 \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0645\u0631\u062d\u0644\u0629 \u0627\u0644\u062f\u0631\u0627\u0633\u064a\u0629.",
                "summary": "Get Current Profile (\u062d\u0633\u0627\u0628\u064a)",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/v2\/auth\/profile": {
            "post": {
                "operationId": "v2.auth.profile.update",
                "description": "\u064a\u062a\u064a\u062d \u0644\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u062a\u062d\u062f\u064a\u062b \u0628\u064a\u0627\u0646\u0627\u062a \u062d\u0633\u0627\u0628\u0647. \u062c\u0645\u064a\u0639 \u0627\u0644\u062d\u0642\u0648\u0644 \u0627\u062e\u062a\u064a\u0627\u0631\u064a\u0629\u060c \u0648\u064a\u062a\u0645 \u062a\u062d\u062f\u064a\u062b \u0645\u0627 \u064a\u064f\u0631\u0633\u0644 \u0641\u0642\u0637.\n\u0641\u064a \u062d\u0627\u0644 \u0627\u0644\u0631\u063a\u0628\u0629 \u0628\u062a\u063a\u064a\u064a\u0631 \u0643\u0644\u0645\u0629 \u0627\u0644\u0645\u0631\u0648\u0631\u060c \u064a\u062c\u0628 \u0625\u0631\u0633\u0627\u0644 `password` \u0627\u0644\u062c\u062f\u064a\u062f\u0629 \u0645\u0639 \u0625\u0631\u0633\u0627\u0644 `old_password`.\n\u0628\u0627\u0644\u0646\u0633\u0628\u0629 \u0644\u0644\u0637\u0644\u0627\u0628\u060c \u064a\u0645\u0643\u0646\u0647\u0645 \u0623\u064a\u0636\u0627\u064b \u062a\u062d\u062f\u064a\u062b `exam_id` \u0623\u0648 `exam_date` \u0627\u0644\u062e\u0627\u0635\u0629 \u0628\u0627\u0644\u0645\u0631\u062d\u0644\u0629 \u0627\u0644\u062f\u0631\u0627\u0633\u064a\u0629 \u0645\u0646 \u062e\u0644\u0627\u0644 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631.",
                "summary": "Update Profile (\u062a\u062d\u062f\u064a\u062b \u0627\u0644\u0645\u0644\u0641 \u0627\u0644\u0634\u062e\u0635\u064a)",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateProfileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/v2\/auth\/logout": {
            "post": {
                "operationId": "v2.auth.logout",
                "description": "\u064a\u0628\u0637\u0644 \u0635\u0644\u0627\u062d\u064a\u0629 \u0627\u0644\u0640 JWT Token \u0627\u0644\u062d\u0627\u0644\u064a \u0628\u0634\u0643\u0644 \u0641\u0648\u0631\u064a \u0644\u0645\u0646\u0639 \u0623\u064a \u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0645\u0633\u062a\u0642\u0628\u0644\u064a \u0644\u0647.\n\u0645\u0641\u064a\u062f \u0644\u0625\u0646\u0647\u0627\u0621 \u0627\u0644\u062c\u0644\u0633\u0629 \u0648\u062a\u0633\u062c\u064a\u0644 \u0627\u0644\u062e\u0631\u0648\u062c \u0645\u0646 \u0627\u0644\u062c\u0647\u0627\u0632 \u0627\u0644\u0645\u0639\u0646\u064a.",
                "summary": "Logout Securely (\u062a\u0633\u062c\u064a\u0644 \u0627\u0644\u062e\u0631\u0648\u062c)",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/v2\/auth\/devices": {
            "get": {
                "operationId": "v2.auth.devices.index",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u0627\u0644\u0623\u062c\u0647\u0632\u0629 \u0627\u0644\u062a\u064a \u0633\u062c\u0644 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u062f\u062e\u0648\u0644 \u0645\u0646\u0647\u0627.\n\u0645\u0641\u064a\u062f \u0644\u0639\u0631\u0636 \"\u0625\u062f\u0627\u0631\u0629 \u0627\u0644\u0623\u062c\u0647\u0632\u0629\" \u062f\u0627\u062e\u0644 \u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u062a\u0637\u0628\u064a\u0642\u060c \u062d\u064a\u062b \u064a\u0638\u0647\u0631 \u0644\u0643\u0644 \u062c\u0647\u0627\u0632 \u0627\u0633\u0645\u0647 (\u0645\u062b\u0644 iPhone) \u0648\u0622\u062e\u0631 \u0646\u0634\u0627\u0637 \u0644\u0647\u060c \u0648\u062d\u0627\u0644\u062a\u0647 (\u0645\u0648\u0627\u0641\u0642 \u0639\u0644\u064a\u0647\u060c \u0645\u062d\u0638\u0648\u0631\u060c \u0628\u0627\u0646\u062a\u0638\u0627\u0631 \u0627\u0644\u0645\u0648\u0627\u0641\u0642\u0629).",
                "summary": "Get Registered Devices (\u0623\u062c\u0647\u0632\u062a\u064a \u0627\u0644\u0645\u0639\u0631\u0641\u0629)",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/v2\/auth\/devices\/{deviceId}": {
            "post": {
                "operationId": "v2.auth.devices.revoke",
                "description": "\u064a\u062a\u064a\u062d \u0644\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0637\u0631\u062f \/ \u0625\u0632\u0627\u0644\u0629 \u062c\u0647\u0627\u0632 \u0645\u0639\u064a\u0646 \u0645\u0646 \u0642\u0627\u0626\u0645\u0629 \u0623\u062c\u0647\u0632\u062a\u0647 \u0627\u0644\u0646\u0634\u0637\u0629.\n\u0633\u064a\u062a\u0645 \u0641\u0648\u0631\u0627\u064b \u0645\u0646\u0639 \u0627\u0644\u062c\u0647\u0627\u0632 \u0627\u0644\u0645\u062d\u0630\u0648\u0641 \u0645\u0646 \u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0627\u0644\u0640 Token \u0627\u0644\u062e\u0627\u0635\u0629 \u0628\u0647 (\u0625\u0630\u0627 \u0643\u0627\u0646\u062a \u0645\u062e\u0632\u0646\u0629)\u060c \u0648\u0633\u062c\u0644 \u0627\u0644\u062c\u0647\u0627\u0632 \u0633\u064a\u064f\u0645\u0633\u062d \u0645\u0646 \u0642\u0627\u0639\u062f\u0629 \u0627\u0644\u0628\u064a\u0627\u0646\u0627\u062a.",
                "summary": "Revoke \/ Remove Device (\u062d\u0630\u0641 \u062c\u0647\u0627\u0632 \u0646\u0634\u0637)",
                "tags": [
                    "Auth"
                ],
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/v2\/contact": {
            "post": {
                "operationId": "v2.contact.store",
                "description": "\u064a\u0642\u0648\u0645 \u0628\u062a\u0633\u062c\u064a\u0644 \u0648\u0625\u0631\u0633\u0627\u0644 \u0631\u0633\u0627\u0644\u0629 \u062a\u0648\u0627\u0635\u0644 \u0645\u0646 \u0627\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u0623\u0648 \u0627\u0644\u062a\u0637\u0628\u064a\u0642 \u0625\u0644\u0649 \u0644\u0648\u062d\u0629 \u062a\u062d\u0643\u0645 \u0627\u0644\u0625\u062f\u0627\u0631\u0629.",
                "summary": "Submit Contact Form (\u0646\u0645\u0648\u0630\u062c \u0627\u062a\u0635\u0644 \u0628\u0646\u0627)",
                "tags": [
                    "Contact"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/ContactRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        201
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/enrollments": {
            "get": {
                "operationId": "v2.enrollments.index",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u062c\u0645\u064a\u0639 \u0627\u0644\u062f\u0648\u0631\u0627\u062a \u0627\u0644\u0645\u0634\u062a\u0631\u0643 \u0628\u0647\u0627 \u0627\u0644\u0637\u0644\u0627\u0628 \u0628\u062f\u0627\u062e\u0644 \u0627\u0644\u0646\u0638\u0627\u0645.\n\u064a\u062a\u0645 \u0641\u0644\u062a\u0631\u0629 \u0647\u0630\u0647 \u0627\u0644\u0627\u0633\u062a\u062c\u0627\u0628\u0629 \u062a\u0644\u0642\u0627\u0626\u064a\u0627\u064b \u0644\u062a\u0643\u0648\u0646 \u0622\u0645\u0646\u0629:\n- \u0648\u0644\u064a \u0627\u0644\u0623\u0645\u0631 \u0633\u064a\u0634\u0627\u0647\u062f \u0641\u0642\u0637 \u062f\u0648\u0631\u0627\u062a \u0623\u0628\u0646\u0627\u0626\u0647.\n- \u0627\u0644\u0645\u062f\u0631\u0633\u0629 \u0633\u062a\u0634\u0627\u0647\u062f \u0641\u0642\u0637 \u062f\u0648\u0631\u0627\u062a \u0637\u0644\u0627\u0628\u0647\u0627.\n- \u0627\u0644\u0637\u0627\u0644\u0628 \u0633\u064a\u0634\u0627\u0647\u062f \u0627\u0644\u0627\u0634\u062a\u0631\u0627\u0643\u0627\u062a \u0627\u0644\u062e\u0627\u0635\u0629 \u0628\u0647.",
                "summary": "Get Enrollments List (\u0642\u0627\u0626\u0645\u0629 \u0627\u0644\u0627\u0634\u062a\u0631\u0627\u0643\u0627\u062a \u0628\u0627\u0644\u062f\u0648\u0631\u0627\u062a)",
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/v2\/exams": {
            "get": {
                "operationId": "v2.exams.index",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u062c\u0645\u064a\u0639 \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646\u0627\u062a \u0623\u0648 \u0627\u0644\u0645\u0631\u0627\u062d\u0644 \u0627\u0644\u062f\u0631\u0627\u0633\u064a\u0629 (\u0645\u062b\u0644: \u0627\u0644\u0635\u0641 \u0627\u0644\u0623\u0648\u0644 \u0627\u0644\u062b\u0627\u0646\u0648\u064a\u060c \u0627\u062e\u062a\u0628\u0627\u0631 \u0627\u0644\u0642\u062f\u0631\u0627\u062a \u0627\u0644\u0639\u0627\u0645\u0629) \u0627\u0644\u0645\u062a\u0627\u062d\u0629 \u0639\u0644\u0649 \u0627\u0644\u0645\u0646\u0635\u0629.\n\u064a\u0645\u0643\u0646 \u0627\u0644\u062a\u0635\u0641\u062d \u0628\u062f\u0648\u0646 \u062a\u0633\u062c\u064a\u0644 \u062f\u062e\u0648\u0644 \u0644\u0632\u0648\u0627\u0631 \u0627\u0644\u0645\u0646\u0635\u0629.\n\u064a\u062f\u0639\u0645 \u0627\u0644\u0641\u0644\u062a\u0631\u0629 \u0639\u0628\u0631 \u0625\u0631\u0633\u0627\u0644 \u0645\u0639\u0644\u0645\u0627\u062a \u0627\u0644\u0628\u062d\u062b.",
                "summary": "Get All Exams (\u0642\u0627\u0626\u0645\u0629 \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646\u0627\u062a\/\u0627\u0644\u0645\u0631\u0627\u062d\u0644 \u0627\u0644\u062f\u0631\u0627\u0633\u064a\u0629)",
                "tags": [
                    "Exam"
                ],
                "parameters": [
                    {
                        "name": "active",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/exams\/{exam}": {
            "get": {
                "operationId": "v2.exams.show",
                "description": "\u064a\u062c\u0644\u0628 \u0643\u0627\u0641\u0629 \u0627\u0644\u062a\u0641\u0627\u0635\u064a\u0644 \u0627\u0644\u0645\u062a\u0627\u062d\u0629 \u0639\u0646 \u0627\u0645\u062a\u062d\u0627\u0646 \u0623\u0648 \u0635\u0641 \u062f\u0631\u0627\u0633\u064a \u0645\u0639\u064a\u0646. \u064a\u062a\u0636\u0645\u0646 \u0630\u0644\u0643 \u0627\u0644\u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0623\u0633\u0627\u0633\u064a\u0629\u060c\n\u0648\u0627\u0644\u0647\u064a\u0643\u0644 \u0627\u0644\u062a\u0627\u0628\u0639 \u0644\u0647 (\u0628\u062f\u0648\u0646 \u0633\u0631\u062f \u0645\u0644\u0627\u064a\u064a\u0646 \u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u0645\u062a\u0639\u0644\u0642\u0629 \u0628\u0647 \u0645\u0628\u0627\u0634\u0631\u0629 \u0644\u0644\u062d\u0641\u0627\u0638 \u0639\u0644\u0649 \u0627\u0644\u0623\u062f\u0627\u0621).",
                "summary": "Get Exam Details (\u062a\u0641\u0627\u0635\u064a\u0644 \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646\/\u0627\u0644\u0645\u0631\u062d\u0644\u0629)",
                "tags": [
                    "Exam"
                ],
                "parameters": [
                    {
                        "name": "exam",
                        "in": "path",
                        "required": true,
                        "description": "The exam ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/exams\/{exam}\/subjects": {
            "get": {
                "operationId": "v2.exams.subjects",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u0627\u0644\u0645\u0648\u0627\u062f \u0627\u0644\u062f\u0631\u0627\u0633\u064a\u0629 (Subjects) \u0627\u0644\u0645\u0646\u0633\u0648\u0628\u0629 \u0625\u0644\u0649 \u0647\u0630\u0627 \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646\/\u0627\u0644\u0645\u0631\u062d\u0644\u0629 \u0627\u0644\u062f\u0631\u0627\u0633\u064a\u0629.\n\u0639\u0644\u0649 \u0633\u0628\u064a\u0644 \u0627\u0644\u0645\u062b\u0627\u0644\u060c \u0644\u0644\u0635\u0641 \u0627\u0644\u0623\u0648\u0644 \u0627\u0644\u062b\u0627\u0646\u0648\u064a \u0633\u064a\u0631\u062c\u0639: (\u0631\u064a\u0627\u0636\u064a\u0627\u062a\u060c \u0641\u064a\u0632\u064a\u0627\u0621\u060c \u0644\u063a\u0629 \u0639\u0631\u0628\u064a\u0629\u060c \u0627\u0644\u062e).",
                "summary": "Get Exam Subjects (\u0627\u0644\u0645\u0648\u0627\u062f \u0627\u0644\u062a\u0627\u0628\u0639\u0629 \u0644\u0644\u0627\u0645\u062a\u062d\u0627\u0646)",
                "tags": [
                    "Exam"
                ],
                "parameters": [
                    {
                        "name": "exam",
                        "in": "path",
                        "required": true,
                        "description": "The exam ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/exams\/{exam}\/sections": {
            "get": {
                "operationId": "v2.exams.sections",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u0627\u0644\u0623\u0642\u0633\u0627\u0645 \u0627\u0644\u0647\u0631\u0645\u064a\u0629\/\u0627\u0644\u0623\u062c\u0632\u0627\u0621 (Sections) \u0627\u0644\u062a\u064a \u064a\u062a\u0641\u0631\u0639 \u0625\u0644\u064a\u0647\u0627 \u0647\u0630\u0627 \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646.\n\u0645\u0641\u064a\u062f \u0641\u064a \u0628\u0646\u0627\u0621 \u0648\u0627\u062c\u0647\u0627\u062a \u0627\u0644\u0641\u0644\u062a\u0631\u0629 \u0627\u0644\u062c\u0627\u0646\u0628\u064a\u0629 Sidebar \u0644\u0644\u0645\u0633\u062a\u062e\u062f\u0645\u064a\u0646.",
                "summary": "Get Exam Sections (\u0623\u0642\u0633\u0627\u0645 \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646)",
                "tags": [
                    "Exam"
                ],
                "parameters": [
                    {
                        "name": "exam",
                        "in": "path",
                        "required": true,
                        "description": "The exam ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/practice-exams": {
            "get": {
                "operationId": "v2.practice-exams.index",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u0646\u0645\u0627\u0630\u062c \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646\u0627\u062a \u0627\u0644\u062a\u062f\u0631\u064a\u0628\u064a\u0629 \u0627\u0644\u0645\u062a\u0648\u0641\u0631\u0629 \u0644\u0644\u0637\u0644\u0627\u0628 \u0644\u064a\u062e\u062a\u0628\u0631\u0648\u0627 \u0628\u0647\u0627 \u0623\u0646\u0641\u0633\u0647\u0645.\n\u064a\u0645\u0643\u0646 \u0627\u0644\u062a\u0635\u0641\u062d \u0628\u062f\u0648\u0646 \u062a\u0633\u062c\u064a\u0644 \u062f\u062e\u0648\u0644.\n\u064a\u062f\u0639\u0645 \u0627\u0644\u0641\u0644\u062a\u0631\u0629\u060c \u0648\u0628\u0634\u0643\u0644 \u0627\u0641\u062a\u0631\u0627\u0636\u064a \u0644\u0627 \u064a\u0642\u0648\u0645 \u0628\u062a\u0642\u0633\u064a\u0645 \u0627\u0644\u0646\u062a\u0627\u0626\u062c \u0625\u0644\u0649 \u0635\u0641\u062d\u0627\u062a (Pagination) \u0625\u0644\u0627 \u0625\u0630\u0627 \u0637\u064f\u0644\u0628 \u0630\u0644\u0643.",
                "summary": "Get Practice Exams (\u0646\u0645\u0627\u0630\u062c \u0627\u0644\u0627\u0645\u062a\u062d\u0627\u0646\u0627\u062a \u0648\u0627\u0644\u0627\u062e\u062a\u0628\u0627\u0631\u0627\u062a \u0627\u0644\u062a\u062c\u0631\u064a\u0628\u064a\u0629)",
                "tags": [
                    "PracticeExam"
                ],
                "parameters": [
                    {
                        "name": "is_active",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "paginate",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/practice-exams\/{practiceExam}": {
            "get": {
                "operationId": "v2.practice-exams.show",
                "description": "\u064a\u062c\u0644\u0628 \u062a\u0641\u0627\u0635\u064a\u0644 \u0646\u0645\u0648\u0630\u062c \u0627\u0644\u0627\u062e\u062a\u0628\u0627\u0631 \u0627\u0644\u062a\u062f\u0631\u064a\u0628\u064a \u0645\u0639 \u0643\u0627\u0641\u0629 \u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0648\u0627\u0644\u062e\u064a\u0627\u0631\u0627\u062a \u0627\u0644\u0645\u0631\u062a\u0628\u0637\u0629 \u0628\u0647.\n\u064a\u062c\u0628 \u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0647\u0630\u0647 \u0627\u0644\u0646\u0647\u0627\u064a\u0629 (Endpoint) \u0639\u0646\u062f\u0645\u0627 \u064a\u0628\u062f\u0623 \u0627\u0644\u0637\u0627\u0644\u0628 \u062c\u0644\u0633\u0629 \u0627\u062e\u062a\u0628\u0627\u0631 \u0644\u0644\u0628\u062f\u0621 \u0641\u064a \u062d\u0644 \u0627\u0644\u0623\u0633\u0626\u0644\u0629.",
                "summary": "Get Practice Exam Details (\u062a\u0641\u0627\u0635\u064a\u0644 \u0627\u0644\u0646\u0645\u0648\u0630\u062c \u0627\u0644\u062a\u062c\u0631\u064a\u0628\u064a \u0648\u0623\u0633\u0626\u0644\u062a\u0647)",
                "tags": [
                    "PracticeExam"
                ],
                "parameters": [
                    {
                        "name": "practiceExam",
                        "in": "path",
                        "required": true,
                        "description": "The practice exam ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/questions\/trending": {
            "get": {
                "operationId": "v2.questions.trending",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0645\u0642\u0633\u0645\u0629 \u0628\u0635\u0641\u062d\u0627\u062a \u0628\u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u062a\u064a \u064a\u0643\u062b\u0631 \u062d\u0644\u0647\u0627 \u062d\u0627\u0644\u064a\u0627\u064b \u0639\u0644\u0649 \u0627\u0644\u0645\u0646\u0635\u0629.\n\u0645\u0641\u064a\u062f \u0644\u0639\u0631\u0636 \"\u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u0631\u0627\u0626\u062c\u0629\" \u0641\u064a \u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0637\u0627\u0644\u0628 \u0627\u0644\u0631\u0626\u064a\u0633\u064a\u0629 (Student Dashboard).",
                "summary": "Get Trending Questions (\u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u0634\u0627\u0626\u0639\u0629 \u0648\u0627\u0644\u0623\u0643\u062b\u0631 \u062d\u0644\u0627\u064b)",
                "tags": [
                    "Question"
                ],
                "parameters": [
                    {
                        "name": "difficulty",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "easy",
                                "medium",
                                "hard"
                            ]
                        }
                    },
                    {
                        "name": "is_new",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "exam_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "paginate",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/questions\/recent": {
            "get": {
                "operationId": "v2.questions.recent",
                "description": "\u064a\u062c\u0644\u0628 \u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0641\u0631\u0632\u0627\u064b \u0645\u0646 \u0627\u0644\u0623\u062d\u062f\u062b \u0625\u0644\u0649 \u0627\u0644\u0623\u0642\u062f\u0645 \u0628\u0646\u0627\u0621\u064b \u0639\u0644\u0649 \u062a\u0627\u0631\u064a\u062e \u0625\u0646\u0634\u0627\u0626\u0647\u0627 \u0641\u064a \u0642\u0627\u0639\u062f\u0629 \u0627\u0644\u0628\u064a\u0627\u0646\u0627\u062a.",
                "summary": "Get Recent Questions (\u0623\u062d\u062f\u062b \u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u0645\u064f\u0636\u0627\u0641\u0629)",
                "tags": [
                    "Question"
                ],
                "parameters": [
                    {
                        "name": "difficulty",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "easy",
                                "medium",
                                "hard"
                            ]
                        }
                    },
                    {
                        "name": "is_new",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "exam_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "paginate",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/questions\/search": {
            "get": {
                "operationId": "v2.questions.search",
                "description": "\u064a\u064f\u0645\u0643\u0646 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0627\u0644\u0637\u0627\u0644\u0628 \u0645\u0646 \u0627\u0644\u0628\u062d\u062b \u0627\u0644\u0646\u0635\u064a \u0627\u0644\u0634\u0627\u0645\u0644 \u0639\u0646 \u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0639\u0628\u0631 \u0627\u0644\u0646\u0638\u0627\u0645 \u0628\u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0645\u0639\u0627\u0645\u0644 \u0627\u0644\u0628\u062d\u062b `q`.\n\u064a\u062a\u0645 \u0625\u0631\u062c\u0627\u0639 \u0627\u0644\u0646\u062a\u0627\u0626\u062c \u0627\u0644\u0645\u0642\u062a\u0631\u0628\u0629\u060c \u0645\u0639 \u062a\u0631\u0642\u064a\u0645 \u0635\u0641\u062d\u0627\u062a (Pagination).",
                "summary": "Search Questions (\u0627\u0644\u0628\u062d\u062b \u0641\u064a \u0628\u0646\u0643 \u0627\u0644\u0623\u0633\u0626\u0644\u0629)",
                "tags": [
                    "Question"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2
                        }
                    },
                    {
                        "name": "difficulty",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "easy",
                                "medium",
                                "hard"
                            ]
                        }
                    },
                    {
                        "name": "is_new",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "paginate",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/questions\/{question}": {
            "get": {
                "operationId": "v2.questions.show",
                "description": "\u064a\u062c\u0644\u0628 \u0643\u0627\u0641\u0629 \u062a\u0641\u0627\u0635\u064a\u0644 \u0633\u0624\u0627\u0644 \u0645\u0639\u064a\u0646 \u0628\u0646\u0627\u0621\u064b \u0639\u0644\u0649 \u0627\u0644\u0640 ID \u0627\u0644\u062e\u0627\u0635 \u0628\u0647\u060c \u064a\u062a\u0636\u0645\u0646 \u0627\u0644\u0625\u062c\u0627\u0628\u0627\u062a \u0627\u0644\u0645\u062d\u062a\u0645\u0644\u0629 (Answers) \u0628\u062f\u0648\u0646 \u062a\u0648\u0636\u064a\u062d \u0623\u064a\u0647\u0627 \u0627\u0644\u0635\u062d\u064a\u062d (\u0644\u0623\u063a\u0631\u0627\u0636 \u0623\u0645\u0646\u064a\u0629)\u060c \n\u0628\u0627\u0644\u0625\u0636\u0627\u0641\u0629 \u0644\u0646\u0635 \u0627\u0644\u0633\u0624\u0627\u0644\u060c \u0645\u0633\u062a\u0648\u0649 \u0627\u0644\u0635\u0639\u0648\u0628\u0629\u060c \u0648\u0627\u0644\u0641\u064a\u062f\u064a\u0648 \u0627\u0644\u062a\u0648\u0636\u064a\u062d\u064a \u0644\u0644\u062d\u0644 (\u0625\u0646 \u0648\u064f\u062c\u062f).",
                "summary": "Get Question Details (\u062a\u0641\u0627\u0635\u064a\u0644 \u0627\u0644\u0633\u0624\u0627\u0644)",
                "tags": [
                    "Question"
                ],
                "parameters": [
                    {
                        "name": "question",
                        "in": "path",
                        "required": true,
                        "description": "The question ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/subjects\/{subject}\/questions": {
            "get": {
                "operationId": "v2.subjects.questions",
                "description": "\u064a\u062c\u0644\u0628 \u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u0645\u064f\u0635\u0641\u0627\u0629 \u0628\u0646\u0627\u0621\u064b \u0639\u0644\u0649 \u0645\u0627\u062f\u0629 \u062f\u0631\u0627\u0633\u064a\u0629 \u062a\u0627\u0628\u0639\u0629 \u0644\u0627\u0645\u062a\u062d\u0627\u0646\/\u0645\u0631\u062d\u0644\u0629 (Exam Subject).\n\u064a\u062f\u0639\u0645 \u062a\u0642\u0633\u064a\u0645 \u0627\u0644\u0635\u0641\u062d\u0627\u062a (Pagination) \u0628\u0634\u0643\u0644 \u0627\u0641\u062a\u0631\u0627\u0636\u064a.",
                "summary": "Get Questions by Subject (\u0623\u0633\u0626\u0644\u0629 \u0645\u0627\u062f\u0629 \u0645\u0639\u064a\u0646\u0629)",
                "tags": [
                    "Question"
                ],
                "parameters": [
                    {
                        "name": "subject",
                        "in": "path",
                        "required": true,
                        "description": "The subject ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "difficulty",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "easy",
                                "medium",
                                "hard"
                            ]
                        }
                    },
                    {
                        "name": "is_new",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "exam_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "paginate",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/categories\/{category}\/questions": {
            "get": {
                "operationId": "v2.categories.questions",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u062a\u0627\u0628\u0639\u0629 \u0644\u0642\u0633\u0645\/\u062a\u0635\u0646\u064a\u0641 \u0641\u0631\u0639\u064a \u0645\u0639\u064a\u0646 (Section Category). \n\u0645\u062b\u0644 \u0627\u0644\u0623\u0633\u0626\u0644\u0629 \u0627\u0644\u0645\u062a\u0639\u0644\u0642\u0629 \u0628\u0640 \"\u0642\u0633\u0645 \u0627\u0644\u062c\u0628\u0631\" \u0627\u0644\u0645\u062a\u0641\u0631\u0639 \u0645\u0646 \u0645\u0633\u062a\u0648\u0649 \u0623\u0639\u0644\u0649.",
                "summary": "Get Questions by Category (\u0623\u0633\u0626\u0644\u0629 \u062a\u0635\u0646\u064a\u0641 \u0641\u0631\u0639\u064a)",
                "tags": [
                    "Question"
                ],
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "description": "The category ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "difficulty",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "easy",
                                "medium",
                                "hard"
                            ]
                        }
                    },
                    {
                        "name": "is_new",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "exam_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "paginate",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/settings": {
            "get": {
                "operationId": "v2.settings.index",
                "description": "\u064a\u062c\u0644\u0628 \u0625\u0639\u062f\u0627\u062f\u0627\u062a \u0627\u0644\u062a\u0643\u0648\u064a\u0646 \u0627\u0644\u0639\u0627\u0645\u0629 \u0644\u0644\u0645\u0646\u0635\u0629. \n\u064a\u0645\u0643\u0646 \u0644\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u0627\u0633\u062a\u062e\u062f\u0627\u0645 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0644\u062c\u0644\u0628 \u0646\u0635\u0648\u0635 \u0627\u0644\u0634\u0631\u0648\u0637 \u0648\u0627\u0644\u0623\u062d\u0643\u0627\u0645\u060c \u0631\u0648\u0627\u0628\u0637 \u0645\u0648\u0627\u0642\u0639 \u0627\u0644\u062a\u0648\u0627\u0635\u0644\u060c \u0648\u063a\u064a\u0631\u0647\u0627.\n\u064a\u0645\u0643\u0646 \u0627\u0644\u0627\u0633\u062a\u0639\u0644\u0627\u0645 \u0639\u0646 \u0645\u062c\u0645\u0648\u0639\u0629 \u0645\u062d\u062f\u062f\u0629 \u0628\u062a\u0645\u0631\u064a\u0631 `group` \u0643\u0645\u0639\u0627\u0645\u0644 \u0627\u0633\u062a\u0639\u0644\u0627\u0645.",
                "summary": "Get Settings (\u0625\u0639\u062f\u0627\u062f\u0627\u062a \u0627\u0644\u0645\u0646\u0635\u0629)",
                "tags": [
                    "Setting"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/v2\/settings\/groups": {
            "get": {
                "operationId": "v2.settings.groups",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0628\u062c\u0645\u064a\u0639 \u0623\u0646\u0648\u0627\u0639 \u0645\u062c\u0645\u0648\u0639\u0627\u062a \u0627\u0644\u0625\u0639\u062f\u0627\u062f\u0627\u062a \u0627\u0644\u0645\u062a\u0648\u0641\u0631\u0629 \u0641\u064a \u0627\u0644\u0646\u0638\u0627\u0645 \n(\u0645\u062b\u0644: general, social_links, terms).",
                "summary": "Get Setting Groups (\u0645\u062c\u0645\u0648\u0639\u0627\u062a \u0627\u0644\u0625\u0639\u062f\u0627\u062f\u0627\u062a)",
                "tags": [
                    "Setting"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/v2\/settings\/{key}": {
            "get": {
                "operationId": "v2.settings.show",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u064a\u0645\u0629 \u0645\u062d\u062f\u062f\u0629 \u0645\u0641\u0631\u062f\u0629 \u0628\u0646\u0627\u0621\u064b \u0639\u0644\u0649 \u0627\u0644\u0645\u0641\u062a\u0627\u062d (Key) \u0627\u0644\u0641\u0631\u064a\u062f \u0627\u0644\u062e\u0627\u0635 \u0628\u0647\u0627.",
                "summary": "Get Specific Setting (\u062c\u0644\u0628 \u0625\u0639\u062f\u0627\u062f \u0628\u0639\u064a\u0646\u0647)",
                "tags": [
                    "Setting"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/v2\/stats": {
            "get": {
                "operationId": "v2.stats.index",
                "description": "\u064a\u062c\u0644\u0628 \u0625\u062d\u0635\u0627\u0626\u064a\u0627\u062a \u0639\u0627\u0645\u0629 \u0648\u0639\u0627\u0644\u064a\u0629 \u0627\u0644\u0645\u0633\u062a\u0648\u0649 \u0644\u0644\u0645\u0646\u0635\u0629 \u062a\u062a\u0636\u0645\u0646 (\u0625\u062c\u0645\u0627\u0644\u064a \u0627\u0644\u0637\u0644\u0627\u0628\u060c \u0627\u0644\u062f\u0648\u0631\u0627\u062a \u0627\u0644\u0646\u0634\u0637\u0629\u060c \u0645\u062a\u0648\u0633\u0637 \u0627\u0644\u062a\u0642\u062f\u0645\u060c \u0648\u0627\u0644\u062a\u0633\u062c\u064a\u0644\u0627\u062a \u0627\u0644\u0646\u0634\u0637\u0629).\n\u064a\u062a\u0645 \u0641\u0644\u062a\u0631\u0629 \u0627\u0644\u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0645\u0631\u062c\u0639\u0629 \u062a\u0644\u0642\u0627\u0626\u064a\u0627\u064b \u0628\u0646\u0627\u0621\u064b \u0639\u0644\u0649 \u062f\u0648\u0631 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u0645\u0633\u062c\u0644 \u0627\u0644\u062f\u062e\u0648\u0644 (\u0645\u062f\u064a\u0631 \u0645\u062f\u0631\u0633\u0629 School \u0633\u064a\u0631\u0627\u0647\u0627 \u0641\u0642\u0637 \u0644\u0637\u0644\u0627\u0628\u0647\u060c \u0623\u0645\u0627 \u0648\u0644\u064a \u0627\u0644\u0623\u0645\u0631 Parent \u0633\u064a\u0631\u0627\u0647\u0627 \u0644\u0623\u0628\u0646\u0627\u0626\u0647 \u0641\u062d\u0633\u0628).",
                "summary": "Get Platform Statistics (\u0625\u062d\u0635\u0627\u0626\u064a\u0627\u062a \u0627\u0644\u0645\u0646\u0635\u0629)",
                "tags": [
                    "Stats"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/v2\/students": {
            "get": {
                "operationId": "v2.students.index",
                "description": "\u064a\u062c\u0644\u0628 \u0642\u0627\u0626\u0645\u0629 \u0645\u0642\u0633\u0645\u0629 \u0628\u0635\u0641\u062d\u0627\u062a (Paginated) \u0628\u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0637\u0644\u0627\u0628. \n\u0647\u0630\u0647 \u0627\u0644\u0646\u0647\u0627\u064a\u0629 \u0627\u0644\u0637\u0631\u0641\u064a\u0629 \u0622\u0645\u0646\u0629 \u0648\u0645\u062f\u0639\u0645\u0629 \u0628\u0627\u0644\u0635\u0644\u0627\u062d\u064a\u0627\u062a \u0627\u0644\u062a\u0644\u0642\u0627\u0626\u064a\u0629:\n- \u0625\u0630\u0627 \u0643\u0627\u0646 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 (\u0648\u0644\u064a \u0623\u0645\u0631)\u060c \u0633\u064a\u0631\u0649 \u0641\u0642\u0637 \u0623\u0628\u0646\u0627\u0621\u0647 \u0627\u0644\u0645\u0633\u062c\u0644\u064a\u0646.\n- \u0625\u0630\u0627 \u0643\u0627\u0646 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 (\u0645\u062f\u0631\u0633\u0629\/\u0645\u062f\u064a\u0631)\u060c \u0633\u064a\u0631\u0649 \u0637\u0644\u0627\u0628 \u0645\u062f\u0631\u0633\u062a\u0647 \u0641\u0642\u0637.\n\u0645\u0646 \u062e\u0644\u0627\u0644 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u064a\u0645\u0643\u0646 \u0644\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u0628\u0646\u0627\u0621 \u062c\u062f\u0627\u0648\u0644 \u0627\u0644\u0641\u0644\u062a\u0631\u0629 \u0648\u0627\u0644\u0628\u062d\u062b \u0644\u0644\u0637\u0644\u0627\u0628.",
                "summary": "List Students (\u0642\u0627\u0626\u0645\u0629 \u0627\u0644\u0637\u0644\u0627\u0628)",
                "tags": [
                    "Student"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "operationId": "v2.students.store",
                "description": "\u064a\u062a\u064a\u062d \u0644\u0644\u0645\u0633\u062a\u062e\u062f\u0645 (\u0645\u062f\u064a\u0631 \u0627\u0644\u0645\u062f\u0631\u0633\u0629 \u0623\u0648 \u0648\u0644\u064a \u0627\u0644\u0623\u0645\u0631) \u0625\u0646\u0634\u0627\u0621 \u062d\u0633\u0627\u0628 \u0637\u0627\u0644\u0628 \u062c\u062f\u064a\u062f \u0648\u0625\u0636\u0627\u0641\u062a\u0647 \u0625\u0644\u0649 \u0634\u0628\u0643\u062a\u0647 (Network) \u062a\u0644\u0642\u0627\u0626\u064a\u0627\u064b.\n\u064a\u062c\u0628 \u062a\u0648\u0641\u064a\u0631 \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0637\u0627\u0644\u0628 \u0627\u0644\u0623\u0633\u0627\u0633\u064a\u0629.",
                "summary": "Create Single Student (\u0625\u0636\u0627\u0641\u0629 \u062d\u0633\u0627\u0628 \u0637\u0627\u0644\u0628 \u0648\u0627\u062d\u062f)",
                "tags": [
                    "StudentImport"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/CreateStudentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/students\/{student}": {
            "get": {
                "operationId": "v2.students.show",
                "description": "\u064a\u062c\u0644\u0628 \u0645\u0644\u0641 \u0627\u0644\u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0643\u0627\u0645\u0644 \u0644\u0637\u0627\u0644\u0628 \u0645\u0639\u064a\u0646. \u0633\u064a\u062a\u0645 \u0625\u0631\u0641\u0627\u0642 \u0639\u0644\u0627\u0642\u0627\u062a \u0627\u0644\u062c\u062f\u0648\u0644 \u0627\u0644\u062e\u0627\u0635\u0629 \u0628\u0627\u0644\u0637\u0627\u0644\u0628 \u0645\u062b\u0644 \u0627\u0644\u0645\u062f\u0631\u0633\u0629\u060c \u0627\u0644\u062f\u0648\u0631\u064a (League)\u060c \u0648 \u0627\u0644\u0645\u0631\u062d\u0644\u0629 \u0627\u0644\u062f\u0631\u0627\u0633\u064a\u0629 (`exam`).\n\u064a\u0633\u062a\u062e\u062f\u0645 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0639\u0627\u062f\u0629 \u0641\u064a \u0635\u0641\u062d\u0629 (\u0639\u0631\u0636 \u062a\u0641\u0627\u0635\u064a\u0644 \u062d\u0633\u0627\u0628 \u0627\u0644\u0637\u0627\u0644\u0628).",
                "summary": "Get Student Profile (\u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0637\u0627\u0644\u0628)",
                "tags": [
                    "Student"
                ],
                "parameters": [
                    {
                        "name": "student",
                        "in": "path",
                        "required": true,
                        "description": "The student ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    }
                },
                "security": []
            },
            "put": {
                "operationId": "v2.students.update",
                "description": "\u064a\u062a\u0637\u0644\u0628 \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0635\u0644\u0627\u062d\u064a\u0627\u062a \u0648\u0635\u0648\u0644 \u0643\u0627\u0641\u064a\u0629 (\u0645\u062b\u0644 \u0643\u0648\u0646 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0647\u0648 \u0648\u0644\u064a \u0627\u0644\u0623\u0645\u0631 \u0627\u0644\u062e\u0627\u0635 \u0628\u0627\u0644\u0637\u0627\u0644\u0628 \u0623\u0648 \u0622\u062f\u0645\u0646).\n\u064a\u0645\u0643\u0646 \u0645\u0646 \u062e\u0644\u0627\u0644\u0647 \u062a\u062d\u062f\u064a\u062b \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u0623\u0633\u0627\u0633\u064a\u0629 (\u0627\u0633\u0645\u060c \u0647\u0627\u062a\u0641\u060c \u0628\u0631\u064a\u062f) \u0628\u0627\u0644\u0625\u0636\u0627\u0641\u0629 \u0644\u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0637\u0627\u0644\u0628 (\u0627\u0644\u0635\u0641 \u0627\u0644\u0645\u062f\u0631\u0633\u064a `exam_id`).",
                "summary": "Update Student Profile (\u062a\u0639\u062f\u064a\u0644 \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0637\u0627\u0644\u0628)",
                "tags": [
                    "Student"
                ],
                "parameters": [
                    {
                        "name": "student",
                        "in": "path",
                        "required": true,
                        "description": "The student ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/UpdateStudentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            },
            "delete": {
                "operationId": "v2.students.destroy",
                "description": "\u0644\u0623\u063a\u0631\u0627\u0636 \u0627\u0644\u062d\u0645\u0627\u064a\u0629 \u0648\u0639\u062f\u0645 \u0645\u0633\u062d \u0628\u064a\u0627\u0646\u0627\u062a \u0645\u0627\u0644\u064a\u0629 \u0623\u0648 \u0623\u0631\u0635\u062f\u0629 \u0628\u0627\u0644\u062e\u0637\u0623\u060c \u0647\u0630\u0627 \u0627\u0644\u0645\u0633\u0627\u0631 \u0644\u0627 \u064a\u0642\u0648\u0645 \u0641\u0639\u0644\u064a\u064b\u0627 \u0628\u0645\u0633\u062d \u0627\u0644\u0640 Record \u0645\u0646 \u0627\u0644\u062f\u0627\u062a\u0627\u0628\u064a\u0632\u060c\n\u0628\u0644 \u064a\u0642\u062f\u0645 (Deletion Request) \u0637\u0644\u0628 \u062d\u0630\u0641 \u0644\u0625\u062f\u0627\u0631\u0629 \u0627\u0644\u062f\u0639\u0645 \u0644\u0645\u0631\u0627\u062c\u0639\u062a\u0647. \u0633\u064a\u062a\u0645 \u062a\u0639\u0644\u064a\u0642 \u0627\u0644\u062d\u0633\u0627\u0628 \u0631\u064a\u062b\u0645\u0627 \u062a\u062a\u0645 \u0627\u0644\u0645\u0648\u0627\u0641\u0642\u0629.",
                "summary": "Request Student Deletion (\u0637\u0644\u0628 \u062d\u0630\u0641 \u062d\u0633\u0627\u0628 \u0637\u0627\u0644\u0628)",
                "tags": [
                    "Student"
                ],
                "parameters": [
                    {
                        "name": "student",
                        "in": "path",
                        "required": true,
                        "description": "The student ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "reason",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/students\/bulk": {
            "post": {
                "operationId": "v2.students.bulk",
                "description": "\u064a\u0646\u0634\u0626 \u062d\u0633\u0627\u0628\u0627\u062a \u0639\u062f\u0629 \u0637\u0644\u0627\u0628 \u062f\u0641\u0639\u0629 \u0648\u0627\u062d\u062f\u0629 \u0639\u0628\u0631 \u062a\u0645\u0631\u064a\u0631 \u0645\u0635\u0641\u0648\u0641\u0629 `students` \u062a\u0636\u0645 \u0643\u0627\u0626\u0646\u0627\u062a (Objects) \u0628\u0628\u064a\u0627\u0646\u0627\u062a \u0643\u0644 \u0637\u0627\u0644\u0628.\n\u0645\u0641\u064a\u062f \u0625\u0630\u0627 \u0643\u0627\u0646\u062a \u0627\u0644\u0648\u0627\u062c\u0647\u0629 \u0627\u0644\u0623\u0645\u0627\u0645\u064a\u0629 \u062a\u0642\u0648\u0645 \u0628\u0642\u0631\u0627\u0621\u0629 \u0645\u0644\u0641 \u0625\u0643\u0633\u0644 \u0648\u062a\u062d\u0648\u064a\u0644\u0647 \u0625\u0644\u0649 JSON \u0642\u0628\u0644 \u0627\u0644\u0625\u0631\u0633\u0627\u0644.\n\u0633\u064a\u0631\u062c\u0639 \u0627\u0644\u0646\u0638\u0627\u0645 \u0627\u0633\u062a\u062c\u0627\u0628\u0629 \u062a\u0648\u0636\u062d \u0639\u062f\u062f \u0645\u0646 \u062a\u0645 \u0642\u0628\u0648\u0644\u0647\u0645 \u0648\u0625\u0646\u0634\u0627\u0624\u0647\u0645 \u0648\u0639\u062f\u062f \u0645\u0646 \u0641\u0634\u0644\u062a \u0645\u062d\u0627\u0648\u0644\u0629 \u0625\u0646\u0634\u0627\u0626\u0647\u0645 (\u0628\u0633\u0628\u0628 \u062a\u0643\u0631\u0627\u0631 \u0627\u0633\u0645 \u0627\u0644\u0645\u0633\u062a\u062e\u062f\u0645 \u0645\u062b\u0644\u0627\u064b).",
                "summary": "Bulk Create Students (JOSN) (\u0625\u0636\u0627\u0641\u0629 \u0645\u062c\u0645\u0648\u0639\u0629 \u0637\u0644\u0627\u0628 \u0643\u0628\u064a\u0627\u0646\u0627\u062a JSON)",
                "tags": [
                    "StudentImport"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/BulkCreateStudentsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
            }
        },
        "\/v2\/students\/import": {
            "post": {
                "operationId": "v2.students.import",
                "description": "\u064a\u0642\u0648\u0645 \u0628\u062a\u062d\u0644\u064a\u0644 \u0645\u0644\u0641 \u0628\u0635\u064a\u063a\u0629 `.xls`, `.xlsx`, \u0623\u0648 `.csv` \u0645\u064f\u0631\u0641\u0642 \u0628\u0627\u0644\u0637\u0628 \u0648\u0627\u0633\u062a\u062e\u0631\u0627\u062c \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0637\u0644\u0627\u0628 \u0648\u0625\u0646\u0634\u0627\u0621 \u062d\u0633\u0627\u0628\u0627\u062a\u0647\u0645.\n\u0627\u0644\u0645\u0644\u0641 \u064a\u062c\u0628 \u0623\u0646 \u064a\u0643\u0648\u0646 \u0645\u064f\u0646\u0633\u0642\u0627\u064b \u0628\u0623\u0639\u0645\u062f\u0629 \u0645\u062a\u0639\u0627\u0631\u0641 \u0639\u0644\u064a\u0647\u0627 (Name, UserName, Password, ExamID, Gender).",
                "summary": "Import Students from Excel\/CSV (\u0627\u0633\u062a\u064a\u0631\u0627\u062f \u0627\u0644\u0637\u0644\u0627\u0628 \u0645\u0646 \u0645\u0644\u0641\u0627\u062a \u0627\u0644\u062c\u062f\u0627\u0648\u0644)",
                "tags": [
                    "StudentImport"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart\/form-data": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/ImportStudentsFileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                },
                "security": []
[...]
