@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");

html {
  color-scheme: light;
  direction: rtl;
}

* {
  direction: rtl !important;
  font-family: "Cairo", sans-serif;
}

body {
  font-family: "Cairo", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
